# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/



# Dependency directories
node_modules/
dist/

# dotenv environment variables file
.env

package-lock.json
.firebase/hosting.cHVibGlj.cache
firebase-debug.log
